/*Generic styles*/
:root{
      --color1:#001219;
      --color2:#005f73;
      --color3:#3d9397;
      --color4:#94d28d;
      --color5:#e9d8a6;
      --color6:#ee9800;
      --color7:#ca6702;
      --color8:#bb3e03;
      --color9:#ae2012;
      --color10:#9b2226;
      --black:#171321;
      --dkblue: #0d314b;
       --plum: #4b0d49;
       --hotmag: #ff17e4;
      --magenta: #e310cb;
        --aqua: #86fbfb;
      --white: #f7f8fa;
      --font-size: 1.3rem;
     --mono: 'Oxygen Mono', monospace;
     --sans: 'Oxygen', sans-serif;
    --orange:#FF7400;
    --lightpink:#FF0DFF;
    }

html{
  box-sizing:border-box;
}
*,*::before,*::after{
  box-sizing:inherit;
}
body{
padding:0;
border:0;
}
h1,h2,h3{
  margin:0;
}
/*img{
  width:50%;
}*/



/*End of Generic styles*/

/*Home Page Styles*/
.home-wrapper{
  border:0px solid red;
  background:#000;
}
.home-wrapper .row{
  border: 0px solid green;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
}
.home-wrapper .row p span{
display:block;
font-size:1.3rem;
color:#fff;
}
.home-wrapper .row p span:nth-child(3n+1){
  color:#3BA9C3;
}
.home-wrapper .row p span:nth-child(2n+3){
  color:#1AA462;
}
.home-wrapper .row button{
  border:2px solid #fff;
/*  box-shadow:none;
*/  
width:150px;
padding:0.5rem;
border-radius:0.3rem;
background:#1AA462;
margin:1rem 0 1rem 0;
position:relative;
top:-4rem;
left:-0.5rem;
}
.home-wrapper .row button a{
  text-decoration:none;
  color:#fff;
  font-size:1rem;
}


/*Header Styles*/
.header-wrapper{
  background-color:var(--color5);
}
.nav-section nav{
  max-width:1200px;
  margin:0 auto;
  padding:1rem;
}
.nav-section nav ul{
  list-style-type:none;
  padding:0;
  margin:0;
  display:flex;
  flex-flow:row wrap;
  justify-content:flex-start;
  gap:1rem;
/*  background-color:red;
*/}
.nav-section nav ul a{
text-decoration:none;
display:block;
font-size:1.2rem;
padding:0.6rem;
color:var(--color6);
background-color:var(--color1);
border-radius:5px;
text-align:center;
}
.nav-section nav ul li:first-child a{
  border:0px solid yellow;
  background-color:transparent;
  color:slategrey;
}
.nav-section nav ul li:first-child{
  flex-basis:100%;
}
.nav-section nav ul li{
  flex-basis:50%;
  margin:0 auto;
}



/*HeaderPage...SR-ONLY*/
.sr-only{
  display:none;
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:none;
  clip:rect(0,0,0,0);
  overflow:hidden;
}
.menu-toggle{
  display:inline-block;
}
.menu-toggle,.menu-close{
  font-size:1.3rem;
  color:#333;
  padding:0.75px 15px;
  line-height:1.5;
}

.menu-toggle:hover{
 color:#c00;
}
/*HeaderPageStyles...off-canvas style*/
.navbar-menu{
  position:absolute;
  display:block;
  top:0;
  left:0;
  height:100%;
  overflow-x:visible;
  overflow-y:visible;
  transform:translateY(-100%);
  transition:transform 0.9s ease;
  z-index:1000;
  background:orange;
  opacity:0.95;
}
.navbar-menu ul{
  padding:0;
  height:100%;
  width:300px;
}
.navbar-menu .menu-close{
 position:absolute;
 top:0;
 right:0;
 color:#fff;
 border:0px solid yellow;
}

#navbar-menu:target{
  transform:translateY(0);
}
#navbar-menu:target ul{
  position:relative;
}
#navbar-menu:target .menu-close{
  z-index:1001;
}
#navbar-menu:target + .backdrop{
  position:absolute;
  display:block;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:998;
  background:rgb(0,0,0,0.8);
  cursor:default;
}

@supports(position:fixed){
  .navbar-menu, #navbar-menu:target + .backdrop{
    position:fixed;
  }
}


/*Footer styles*/
.footer-section{
  text-align:center;
}
.footer-section ul{
  list-style:none;
  padding:0;
  margin:0;
  columns:2;
  text-align:center; 

 /*display:flex;
 flex-flow:row wrap;
 gap:2rem;*/
}
.footer-section ul a{
  text-decoration:none;
  font-size:1rem;
  font-weight:bold;
  font-family:aria,sans-serif;
  color:#c00;

}
/*AboutPage Style*/
.about-section{
max-width:1200px;
margin:2rem auto;
min-height:250px;
font-size:1.3rem;
padding:1rem;
}


/*Media Queries for different screen sizes*/


/*For Tablet device*/
@media(min-width:410px){
/*Header styles for tablet devices*/
.home-wrapper .row p{
  display:flex;
  flex-flow:row wrap;
  gap:0.5rem;
}
.nav-section nav ul li{
  flex-basis:40%;
  margin:0 auto;
}
.nav-section nav ul a{
  background: var(--color10);
  color:#fff;
}
.nav-section nav ul a:hover{
color:var(--color6);
background-color:var(--color1);
}

/*Footer styling*/
.footer-section ul{
  display:flex;
  justify-content:center;
  gap:2rem;
  align-items:center;
  max-width:1200px;
  margin:2rem auto;
}
.footer-section ul a{
  color:#383838;
}


/*ProductPage Styles*/
.row{
  flex-flow:row wrap;
  justify-content:flex-start;
  gap:0;
}
figure{
  flex-basis:29%;
  margin-bottom:0 0 1rem 0;
}
section{
  margin:0 0 6rem 0;
  padding:0;
}
section h2{
  margin:1rem 0 0 0;
  padding:0;
  text-align:left;
  color:var(--color9);

}
.card{
  min-height:180px;
}

/*signUpPage styles*/


}




/*For desktop device*/
@media(min-width:810px){

/*Header styles for desktop device*/
 .nav-section nav ul{
  justify-content:flex-start;
 } 
.nav-section nav ul a{
  background-color:transparent;
  color:var(--color2);
}
.nav-section nav ul a:hover{
background-color:transparent;
}
.nav-section nav ul li{
  flex-basis:auto;
  margin:0;
}
.nav-section nav ul li:first-child{
  flex-basis:auto;
  margin-right:auto;
}

/*Canvas styles Undo*/
.navbar-menu,.menu-close,.menu-toggle{
  display:none;
}
/*turn-off canvas*/
.navbar-menu{
  position:static;
  display:block;
  top:auto;
  left:auto;
  transform:translateX(0);
  background:none;
  height:auto;
}
.navbar-menu ul{
  padding:0;
  height:auto;
  width:auto;
}
#navbar-menu:target + .backdrop{
  background:none;
}

/*Footer styling*/
.footer-section ul{
  justify-content: space-between;

}
.footer-section ul a{
  font-weight:normal;
  font-size:1.3rem;
}

/*Product Page styles*/
figure{
  flex-basis:18%;
  margin-bottom:0 0 1rem 0;
}
.card{
  min-height:250px;
}

/*signUpPage styles*/
.signup-form-group{
  max-width:400px;
}
}